.container-signUp{
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-size: cover;
    background-position: center;
}

.form-signUp{
    width: 30%;
    min-width: 300px;
    max-width: 450px;
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}